name: remind review

# its for schedule 
# on:
#   schedule:
#     - cron: '*/15 * * * *'

on:
  push:
    branches:
      - main
# jobs:
#   addCommentToPr:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/github-script@v6
#         id: my-script
#         with:
#           result-encoding: string
#           retries: 3
#           script: |
#             github.rest.issues.get({
#               issue_number: context.issue.number,
#               owner: context.repo.owner,
#               repo: context.repo.repo,
#             })


jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: kumar-jitendr-jangid/kumar-pull-request-count-action@v1.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          username: 'kumar-jitendr-jangid'
          repo: 'github-action-pr-list-notification'
      # Use the output from the `hello` step
      # - name: Get the output time
      #   run: echo "The time was ${{ steps.hello.outputs.time }}"
