# name: remind review
# on:
#   schedule:
#     - cron: '* * * * *'
# jobs:
#   send_pull_requests:
#     runs-on: ubuntu-latest
#     name: A job to say hello
#     steps:
#       - name: listPullRequests
#         uses: buildsville/list-pull-requests@v1
#         id: list
#         with:
#           token: ${{secrets.GITHUB_TOKEN}}
#         #   labels: '["WFR"]'
#         #   skip_hour: '24'
#       - name: output
#         run: echo '${{ steps.list.outputs.pulls }}'


name: Experiment
on: 
  schedule:
  - cron: '*/2 * * * *'

jobs:
  job1:
    name: Debug
    runs-on: ubuntu-20.04

    steps:
    - name: Git checkout
      uses: actions/checkout@v2
      with: { ref: main }
    - name: List files
      run: ls